# Amending the Movie Reviews Table, _critic_ratings_
#### by Max Ruther, for his personal project "Movie List Madness"

The table that holds all the movie review info, _critic_ratings_, is almost wholly comprised of information from the Open Movie Database, OMDb. I use their OMDb API to request their rich records for the movies in my list. The review scores they show are quite complete, but some are missing despite their availability. Also, they do not feature any ratings from one of my favorite review sites, RogerEbert.com .

In this notebook, I connect to my local MySQL database to import its _critic_ratings_ table, which solely feature OMDb-sourced review scores, here at the outset. I then fill in some missing Metacritic scores, join in the RogerEbert scores, then lastly fill in some missing RottenTomatoes scores. In finishing, I replace the MySQL database's _critic_ratings_ with this amended one.

## Setup

##### Imports

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

##### Connect the SQLAlchemy engine to my local MySQL movie database

In [2]:
engine = create_engine('mysql://root:yos@localhost/moviedb')
conn = engine.connect()

## Missing Metacritic Reviews

##### Querying the missing Metacritic reviews from the critic_ratings table

In [3]:
query = """SELECT Movie_ID, Title FROM 
(SELECT c.Movie_ID, c.Title, c.Year, c.MetaC_Score, a.Release_Date 
FROM critic_ratings c INNER JOIN allmovies a 
ON c.Title=a.Title 
WHERE c.MetaC_Score IS NULL
ORDER BY a.Release_Date ASC) AS tt;"""

review_df = pd.read_sql_query(query, engine, index_col='Movie_ID')
print(review_df)

                                         Title
Movie_ID
158       Sirocco and the Kingdom of the Winds
43                                  The Ascent
172                                    Troll 2
179                                   Memories
59                                     Air Bud
220                                    Rampant
115                              Inspector Ike
120                      Nate - A One Man Show
95                                   Quiz Lady
96                                   Wingwomen
1                                     Good One
12                          The Nature of Love

##### Printing these film titles in the format of a python dictionary, ready for my manual data entry.

In [16]:
print("map_missing_metacritic = {")
for i in review_df.values:
    print(f'\t"{i[0]}": ,')
print("\t}")

map_missing_metacritic = {
	"Sirocco and the Kingdom of the Winds": ,
	"The Ascent": ,
	"Troll 2": ,
	"Memories": ,
	"Air Bud": ,
	"Rampant": ,
	"Inspector Ike": ,
	"Nate - A One Man Show": ,
	"Quiz Lady": ,
	"Wingwomen": ,
	"Good One": ,
	"The Nature of Love": ,
	}

##### Creating the mapping for the missing reviews

In [5]:
metaC_mapping = {
                    # These first several films lack metacritic reviews,
                    # and are unlikely to ever get them.
                    # "The Ascent": ,
                    # "Troll 2": ,
                    # "Memories": ,
                    # "Air Bud": ,
                    # "Rampant": ,
                    # "Inspector Ike": ,
                    # "Nate - A One Man Show": ,
                    "Pokemon 2000": 0.28,
                    "Hundreds of Beavers": 0.82,
                    "The Holdovers": 0.82,
                    "The Wonderful Story of Henry Sugar": 0.85,
                    "El Conde": 0.72,
                    "American Fiction": 0.81,
                    "Sing Sing": 0.85,
                    "Outlaw Johnny Black": 0.54,
                    "Saltburn": 0.61,
                    "Silent Night": 0.53,
                    "The Boy and the Heron": 0.91,
                    "Society of the Snow": 0.72,
                    "Migration": 0.56,
                    "All of Us Strangers": 0.9,
                    "The Teachers' Lounge": 0.82,
                    "Godzilla Minus One": 0.81,
                    "Upgraded": 0.59,
                    "Molli and Max in the Future": 0.7,
                    "Drive-Away Dolls": 0.56,
                    "Love Lies Bleeding": 0.77,
                    "The Beast": 0.8,
                    "Civil War": 0.75,
                    "Challengers": 0.82,
                    "Evil Does Not Exist": 0.83,
                    "Slow": 0.72,
                    "Gasoline Rainbow": 0.8,
                    "Babes": 0.71,
                    "Furiosa: A Mad Max Saga": 0.79,
                    "I Used to Be Funny": 0.74,
                    "Ghostlight": 0.83,
                    "Thelma": 0.77,
                    "Oddity": 0.78,
                    # This next film currently has too few reviews, bc it 
                    # only just came out (written 8/7/24).
                    # "The Nature of Love": ,
}

##### Import the whole critic_ratings table into a df, from the MySQL db.

One might notice that several of the first records lack a Metacritic score, at this stage.

In [6]:
query = "SELECT * FROM critic_ratings"

cr_df = pd.read_sql_query(query, engine, index_col='Movie_ID')
cr_df.head(5)

,Title,Year,IMDB_Score,RT_Score,MetaC_Score,Ebert_Score
Movie_ID,,,,,,
1,Good One,2024,0.71,0.97,NaN,NaN
2,Sing Sing,2023,0.82,0.97,0.85,4.0
3,Y Tu Mama Tambien,2001,0.77,0.90,0.89,4.0
4,Gasoline Rainbow,2023,0.63,0.93,0.80,4.0
5,Evil Does Not Exist,2023,0.70,0.91,0.83,3.5

##### Applying the mapping to the missing reviews.

In [7]:
cr_df['MetaC_Score'] = cr_df['MetaC_Score'].fillna(cr_df['Title'].map(metaC_mapping))
cr_df.head(5)

,Title,Year,IMDB_Score,RT_Score,MetaC_Score,Ebert_Score
Movie_ID,,,,,,
1,Good One,2024,0.71,0.97,NaN,NaN
2,Sing Sing,2023,0.82,0.97,0.85,4.0
3,Y Tu Mama Tambien,2001,0.77,0.90,0.89,4.0
4,Gasoline Rainbow,2023,0.63,0.93,0.80,4.0
5,Evil Does Not Exist,2023,0.70,0.91,0.83,3.5

##### Loading this amended table to the MySQL db, replacing the preexisting one.

In [8]:
cr_df.to_sql('critic_ratings', engine, if_exists='replace', index=True)

243

##### Shutting down the SQL engine and db connection.

In [9]:
# engine.dispose()
# conn.close()

## Adding the RogerEbert.com Reviews

Contained in the file 'ebert_ratings.csv' are ratings from RogerEbert.com , one of my favorite sites for movie reviews. Here, I read that file into a dataframe, then join that onto the _critic_ratings_ table. I finish by again overwriting with this result the _critic_ratings_ table in the MySQL db.


##### Read in the Ebert ratings from file

In [12]:
ebert_df = pd.read_csv('data/ebert_ratings.csv', index_col='Movie_ID')
ebert_df['Year'] = ebert_df['Year'].astype(str)
ebert_df.head(5)

                        Title  Year  Ebert_Score
Movie_ID
1                   Sing Sing  2023          4.0
2           Y Tu Mama Tambien  2001          4.0
3            Gasoline Rainbow  2023          4.0
4         Evil Does Not Exist  2023          3.5
5                        Slow  2023          3.5

##### (If the preceding section relating to Metacritic reviews was not run, read in the _critic_ratings_ table)

In [13]:
if 'cr_df' not in locals() or 'cr_df' not in globals():
    query = "SELECT * FROM critic_ratings"
    cr_df = pd.read_sql_query(query, engine, index_col='Movie_ID')
    cr_df.head(5)

##### Join the Ebert ratings onto the _critic_ratings_ df

In [14]:
merged_df = cr_df.merge(ebert_df, how='left', on=['Title','Year'])
merged_df.index = range(1, len(merged_df)+1)
merged_df.index.names = ['Movie_ID']

cr_plus_ebert_df = merged_df
cr_plus_ebert_df.head(5)

,Title,Year,IMDB_Score,RT_Score,MetaC_Score,Ebert_Score_x,Ebert_Score_y
Movie_ID,,,,,,,
1,Good One,2024,0.71,0.97,NaN,NaN,NaN
2,Sing Sing,2023,0.82,0.97,0.85,4.0,4.0
3,Y Tu Mama Tambien,2001,0.77,0.90,0.89,4.0,4.0
4,Gasoline Rainbow,2023,0.63,0.93,0.80,4.0,4.0
5,Evil Does Not Exist,2023,0.70,0.91,0.83,3.5,3.5

##### Loading this amended table to the MySQL db, replacing the preexisting one.

In [15]:
cr_plus_ebert_df.to_sql('critic_ratings', engine, if_exists='replace', index=True)

243

## Missing Rotten Tomatoes Reviews

##### Querying the missing RT reviews from the critic_ratings table

In [16]:
query = """SELECT Movie_ID, Title FROM
(SELECT c.Movie_ID, c.Title, c.Year, c.RT_Score, a.Release_Date 
FROM critic_ratings c INNER JOIN allmovies a ON c.Title=a.Title
WHERE c.RT_Score IS NULL
ORDER BY a.Release_Date ASC) AS tt;"""

missing_RT_df = pd.read_sql_query(query, engine, index_col='Movie_ID')
print(missing_RT_df)

                                         Title
Movie_ID
158       Sirocco and the Kingdom of the Winds
179                                   Memories

##### Printing these film titles in the format of a python dictionary, ready for my manual data entry.

In [17]:
for i in missing_RT_df.values:
    print(f'"{i[0]}": ,')

"Sirocco and the Kingdom of the Winds": ,
"Memories": ,

##### Creating the mapping for the missing reviews

In [18]:
RT_mapping = {
    # The following commented out film indeed lacks RT (critical) scores.
    # "Memories": ,
    "Pokemon 2000": 0.19,
    "Possessor": 0.94,
    "The Card Counter": 0.87,
    "TÃ¡r": 0.91,
    "Suzume": 0.96,
    "Talk to Me": 0.94,
}

##### (If preceding sections weren't run, importing the _critic_ratings_ table from the MySQL db)

In [19]:
if 'cr_df' not in locals() or 'cr_df' not in globals():
    query = "SELECT * FROM critic_ratings"
    cr_df = pd.read_sql_query(query, engine, index_col='Movie_ID')
    cr_df.head(5)

##### Printing the records that lack Rotten Tomatoes scores

In [20]:
# Printing the records with missing 'RT_Score'
missing_RT_mask = cr_df['RT_Score'].isnull()
cr_df[missing_RT_mask]

,Title,Year,IMDB_Score,RT_Score,MetaC_Score,Ebert_Score
Movie_ID,,,,,,
158,Sirocco and the Kingdom of the Winds,2023,NaN,NaN,NaN,NaN
179,Memories,1995,0.75,NaN,NaN,NaN

##### Applying mapping to the missing reviews

In [21]:
cr_df['RT_Score'] = cr_df['RT_Score'].fillna(cr_df['Title'].map(RT_mapping))
cr_df[missing_RT_mask]

,Title,Year,IMDB_Score,RT_Score,MetaC_Score,Ebert_Score
Movie_ID,,,,,,
158,Sirocco and the Kingdom of the Winds,2023,NaN,NaN,NaN,NaN
179,Memories,1995,0.75,NaN,NaN,NaN

##### Loading this amended table to the MySQL db, replacing the preexisting one.

In [22]:
cr_df.to_sql('critic_ratings', engine, if_exists='replace', index=True)

243

### Shutting down the SQL engine and db connection.

In [23]:
engine.dispose()
conn.close()