In [39]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
# mydb = pymysql.connect(
#     host="localhost",
#     user="root",
#     password="yos",
#     database="movieDB"
# )

In [68]:
engine = create_engine('mysql://root:yos@localhost/moviedb')
conn = engine.connect()

In [4]:
test_df = pd.read_sql_query('SELECT * FROM allmovies;', engine)
test_df

,movie_id,Title,Year,Release_Date,Director,Watched,Watched_in_theater,Rating,Date_watched,Priority,native_ordering
0,1,Sing Sing,2023,2023-09-10,Kwedar,0,0,None,None,1,1
1,2,Y Tu Mama Tambien,2001,2002-03-15,Cuaron,0,0,None,None,4,1
2,3,Gasoline Rainbow,2023,2024-05-10,Ross bros.,0,0,None,None,1,3
3,4,Evil Does Not Exist,2023,2024-05-03,Hamaguchi,0,0,None,None,1,4
4,5,Slow,2023,2024-05-03,Kavtaradze,0,0,None,None,1,5
...,...,...,...,...,...,...,...,...,...,...,...
233,234,Nightcrawler,2014,2014-10-31,Gilroy,0,0,None,None,7,13
234,235,Room,2015,2016-01-22,Abrahamson,0,0,None,None,7,14
235,236,The Lobster,2015,2016-05-13,Lanthimos,0,0,None,None,7,15
236,237,Three Billboards,2017,2017-11-10,McDonagh,1,0,AWESOME,2024-04-03,0,16
237,238,Lamb,2021,2021-10-26,Johannsson,1,0,None,2023-12-17,0,17

In [5]:
query = """SELECT Movie_ID, Title FROM 
(SELECT c.Movie_ID, c.Title, c.Year, c.MetaC_Score, a.Release_Date 
FROM critic_ratings c INNER JOIN allmovies a 
ON c.Title=a.Title 
WHERE c.MetaC_Score IS NULL
ORDER BY a.Release_Date ASC) AS tt;"""

review_df = pd.read_sql_query(query, engine, index_col='Movie_ID')
print(review_df)

                          Title
Movie_ID
42                   The Ascent
167                     Troll 2
174                    Memories
58                      Air Bud
215                     Rampant
111               Inspector Ike
116       Nate - A One Man Show
11           The Nature of Love

In [6]:
for i in review_df.values:
    print(f'"{i[0]}": ,')

"The Ascent": ,
"Troll 2": ,
"Memories": ,
"Air Bud": ,
"Rampant": ,
"Inspector Ike": ,
"Nate - A One Man Show": ,
"The Nature of Love": ,

In [41]:
query = "SELECT * FROM critic_ratings"

cr_df = pd.read_sql_query(query, engine, index_col='Movie_ID')
cr_df

                        Title  Year  IMDB_Score  RT_Score  MetaC_Score
Movie_ID
1                   Sing Sing  2023        0.79      0.97         0.85
2           Y Tu Mama Tambien  2001        0.77      0.90         0.89
3            Gasoline Rainbow  2023        0.63      0.94         0.80
4         Evil Does Not Exist  2023        0.71      0.91         0.83
5                        Slow  2023        0.71      0.92         0.72
...                       ...   ...         ...       ...          ...
234              Nightcrawler  2014        0.78      0.95         0.76
235                      Room  2015        0.81      0.93         0.86
236               The Lobster  2015        0.71      0.87         0.82
237          Three Billboards  2017        0.81      0.90         0.88
238                      Lamb  2021        0.63      0.86         0.68

[238 rows x 5 columns]

In [8]:
metaC_mapping = {
                    # These first several films lack metacritic reviews,
                    # and are unlikely to ever get them.
                    # "The Ascent": ,
                    # "Troll 2": ,
                    # "Memories": ,
                    # "Air Bud": ,
                    # "Rampant": ,
                    # "Inspector Ike": ,
                    # "Nate - A One Man Show": ,
                    "Pokemon 2000": 0.28,
                    "Hundreds of Beavers": 0.82,
                    "The Holdovers": 0.82,
                    "The Wonderful Story of Henry Sugar": 0.85,
                    "El Conde": 0.72,
                    "American Fiction": 0.81,
                    "Sing Sing": 0.85,
                    "Outlaw Johnny Black": 0.54,
                    "Saltburn": 0.61,
                    "Silent Night": 0.53,
                    "The Boy and the Heron": 0.91,
                    "Society of the Snow": 0.72,
                    "Migration": 0.56,
                    "All of Us Strangers": 0.9,
                    "The Teachers' Lounge": 0.82,
                    "Godzilla Minus One": 0.81,
                    "Upgraded": 0.59,
                    "Molli and Max in the Future": 0.7,
                    "Drive-Away Dolls": 0.56,
                    "Love Lies Bleeding": 0.77,
                    "The Beast": 0.8,
                    "Civil War": 0.75,
                    "Challengers": 0.82,
                    "Evil Does Not Exist": 0.83,
                    "Slow": 0.72,
                    "Gasoline Rainbow": 0.8,
                    "Babes": 0.71,
                    "Furiosa: A Mad Max Saga": 0.79,
                    "I Used to Be Funny": 0.74,
                    "Ghostlight": 0.83,
                    "Thelma": 0.77,
                    "Oddity": 0.78,
                    # This next film currently has too few reviews (8/7/24)
                    # "The Nature of Love": ,
}

In [9]:
cr_df['MetaC_Score'] = cr_df['MetaC_Score'].fillna(cr_df['Title'].map(metaC_mapping))
cr_df.head(30)

,Title,Year,IMDB_Score,RT_Score,MetaC_Score
Movie_ID,,,,,
1,Sing Sing,2023,0.79,0.97,0.85
2,Y Tu Mama Tambien,2001,0.77,0.90,0.89
3,Gasoline Rainbow,2023,0.63,0.94,0.80
4,Evil Does Not Exist,2023,0.71,0.91,0.83
5,Slow,2023,0.71,0.92,0.72
6,The Old Oak,2023,0.71,0.83,0.65
7,The Beast,2023,0.67,0.87,0.80
8,"Are You There God? It's Me, Margaret",2023,0.73,0.99,0.84
9,A Thousand and One,2023,0.70,0.97,0.81
10,Everything Everywhere All at Once,2022,0.78,0.93,0.81
11,The Nature of Love,2023,0.70,0.93,NaN
12,Oddity,2024,0.75,0.98,0.78
13,Challengers,2024,0.72,0.88,0.82
14,Furiosa: A Mad Max Saga,2024,0.77,0.90,0.79
15,Polite Society,2023,0.66,0.91,0.75
16,On the Count of Three,2021,0.70,0.85,0.74
17,The Piano,1993,0.75,0.90,0.89
18,Jackass Forever,2022,0.68,0.86,0.74
19,Happening,2021,0.74,0.99,0.86
20,Asteroid City,2023,0.65,0.75,0.74
21,Petite Maman,2021,0.74,0.97,0.93
22,They Cloned Tyrone,2023,0.66,0.95,0.74
23,Civil War,2024,0.71,0.81,0.75
24,Goodfellas,1990,0.87,0.95,0.92
25,All Dirt Roads Taste of Salt,2023,0.58,0.89,0.85
26,The Wonderful Story of Henry Sugar,2023,0.74,0.95,0.85
27,Frances Ha,2012,0.74,0.92,0.82
28,Love Lies Bleeding,2024,0.67,0.94,0.77
29,Outlaw Johnny Black,None,0.55,0.65,0.54
30,Monica,2022,0.63,0.84,0.74

In [10]:
cr_df.to_sql('critic_ratings', engine, if_exists='replace', index=True)

238

In [67]:
engine.dispose()
conn.close()
# mydb.close()

In [23]:
ebert_df = pd.read_csv('ebert_ratings.csv', index_col='Movie_ID')
ebert_df['Year'] = ebert_df['Year'].astype(str)
ebert_df

                                Title  Year  Ebert_Score
Movie_ID
1                           Sing Sing  2023          4.0
2                   Y Tu Mama Tambien  2001          4.0
3                    Gasoline Rainbow  2023          4.0
4                 Evil Does Not Exist  2023          3.5
5                                Slow  2023          3.5
...                               ...   ...          ...
234       Judas and the Black Messiah  2021          3.0
235                      Nightcrawler  2014          4.0
236                              Room  2015          3.5
237                       The Lobster  2015          3.5
238                              Lamb  2021          2.5

[238 rows x 3 columns]

In [70]:
merged_df = cr_df.merge(ebert_df, how='left', on=['Title','Year'])
merged_df.index = range(1, len(merged_df)+1)

cr_plus_ebert_df = merged_df

In [71]:
cr_plus_ebert_df.to_sql('critic_ratings', engine, if_exists='replace', index=True)

238