In [1]:
import pandas as pd

from datetime import datetime
import pytz

In [2]:
st_df = pd.read_pickle('..\..\data\pkl\siskel\siskel_showtimes.pkl')
# st_df = pd.read_pickle('..\..\data\pkl\siskel\siskel_showtimes_non_utc.pkl')
st_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_5732\3282253285.py:1: SyntaxWarning: invalid escape sequence '\.'
  st_df = pd.read_pickle('..\..\data\pkl\siskel\siskel_showtimes.pkl')

,Title,Year,Director,Showtime,Showtime_Date,Showtime_Time
0,GRAND TOUR,2024,Miguel Gomes,2025-04-18 17:45:00-05:00,2025-04-18,17:45:00
1,KILLER OF SHEEP,1978,Charles Burnett,2025-04-18 18:00:00-05:00,2025-04-18,18:00:00
2,A FIDAI FILM,2024,Kamal Aljafari,2025-04-18 20:00:00-05:00,2025-04-18,20:00:00
3,KILLER OF SHEEP,1978,Charles Burnett,2025-04-18 20:30:00-05:00,2025-04-18,20:30:00
4,KILLER OF SHEEP,1978,Charles Burnett,2025-04-19 12:30:00-05:00,2025-04-19,12:30:00

In [3]:
st_df.to_pickle('..\..\data\pkl\siskel\siskel_showtimes_non_utc.pkl')
st_df.to_csv('..\..\data\csv\siskel\siskel_showtimes_non_utc.csv')

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_5732\36875405.py:1: SyntaxWarning: invalid escape sequence '\.'
  st_df.to_pickle('..\..\data\pkl\siskel\siskel_showtimes_non_utc.pkl')
C:\Users\maxru\AppData\Local\Temp\ipykernel_5732\36875405.py:2: SyntaxWarning: invalid escape sequence '\.'
  st_df.to_csv('..\..\data\csv\siskel\siskel_showtimes_non_utc.csv')

In [5]:
central = pytz.timezone('America/Chicago')
utc = pytz.utc

st_df['Showtime'] = pd.to_datetime(st_df['Showtime'])
# # Timezone info was already set in the dattime object read in for these
# # Siskel showtimes, so this next line (copied from the musicbox script
# # for this process, along with everything else here) caused an error.
# st_df['Showtime'] = st_df['Showtime'].apply(lambda dt: central.localize(dt).astimezone(utc))
st_df['Showtime'] = st_df['Showtime'].apply(lambda dt: dt.isoformat())

In [6]:
st_df.head()

,Title,Year,Director,Showtime,Showtime_Date,Showtime_Time
0,GRAND TOUR,2024,Miguel Gomes,2025-04-18T17:45:00-05:00,2025-04-18,17:45:00
1,KILLER OF SHEEP,1978,Charles Burnett,2025-04-18T18:00:00-05:00,2025-04-18,18:00:00
2,A FIDAI FILM,2024,Kamal Aljafari,2025-04-18T20:00:00-05:00,2025-04-18,20:00:00
3,KILLER OF SHEEP,1978,Charles Burnett,2025-04-18T20:30:00-05:00,2025-04-18,20:30:00
4,KILLER OF SHEEP,1978,Charles Burnett,2025-04-19T12:30:00-05:00,2025-04-19,12:30:00

In [ ]:
# Getting rid of the unnecessary 'Date' and 'Time' fields that derived
# from the 'Showtime' field.
st_df = st_df.drop(columns=['Showtime_Date', 'Showtime_Time'])

In [8]:
st_df.to_pickle('..\..\data\pkl\siskel\siskel_showtimes.pkl')
st_df.to_csv('..\..\data\csv\siskel\siskel_showtimes.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_5732\3248725844.py:1: SyntaxWarning: invalid escape sequence '\.'
  st_df.to_pickle('..\..\data\pkl\siskel\siskel_showtimes.pkl')
C:\Users\maxru\AppData\Local\Temp\ipykernel_5732\3248725844.py:2: SyntaxWarning: invalid escape sequence '\.'
  st_df.to_csv('..\..\data\csv\siskel\siskel_showtimes.csv', index=False)