In [33]:
import pandas as pd

from datetime import datetime
import pytz

In [34]:
# st_df = pd.read_pickle('..\..\data\pkl\musicbox\musicbox_showtimes.pkl')
st_df = pd.read_pickle('..\..\data\pkl\musicbox\musicbox_showtimes_non_utc.pkl')
st_df.head()

<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_25336\2125578364.py:2: SyntaxWarning: invalid escape sequence '\.'
  st_df = pd.read_pickle('..\..\data\pkl\musicbox\musicbox_showtimes_non_utc.pkl')

,Title,Year,Director,Showtime,Showtime_Date,Showtime_Time
0,DAVID LYNCH: THE ART LIFE,2016,"Jon Nguyen, Rick Barnes",2025-04-18 13:00:00,2025-04-18,13:00:00
1,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18 14:00:00,2025-04-18,14:00:00
2,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18 18:45:00,2025-04-18,18:45:00
3,SUNSET BOULEVARD,1950,Billy Wilder,2025-04-18 15:00:00,2025-04-18,15:00:00
4,SECRET MALL APARTMENT,2024,Jeremy Workman,2025-04-18 16:15:00,2025-04-18,16:15:00

In [35]:
# st_df.to_pickle('..\..\data\pkl\musicbox\musicbox_showtimes_non_utc.pkl')
# st_df.to_csv('..\..\data\csv\musicbox\musicbox_showtimes_non_utc.csv')

In [36]:
central = pytz.timezone('America/Chicago')
utc = pytz.utc

st_df['Showtime'] = pd.to_datetime(st_df['Showtime'])
st_df['Showtime'] = st_df['Showtime'].apply(lambda dt: central.localize(dt).astimezone(utc))
st_df['Showtime'] = st_df['Showtime'].apply(lambda dt: dt.isoformat())

In [37]:
st_df.head()

,Title,Year,Director,Showtime,Showtime_Date,Showtime_Time
0,DAVID LYNCH: THE ART LIFE,2016,"Jon Nguyen, Rick Barnes",2025-04-18T18:00:00+00:00,2025-04-18,13:00:00
1,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18T19:00:00+00:00,2025-04-18,14:00:00
2,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18T23:45:00+00:00,2025-04-18,18:45:00
3,SUNSET BOULEVARD,1950,Billy Wilder,2025-04-18T20:00:00+00:00,2025-04-18,15:00:00
4,SECRET MALL APARTMENT,2024,Jeremy Workman,2025-04-18T21:15:00+00:00,2025-04-18,16:15:00

In [38]:
st_df = st_df.drop(columns=['Showtime_Date', 'Showtime_Time'])

In [39]:
st_df.to_pickle('..\..\data\pkl\musicbox\musicbox_showtimes.pkl')
st_df.to_csv('..\..\data\csv\musicbox\musicbox_showtimes.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_25336\2038260266.py:1: SyntaxWarning: invalid escape sequence '\.'
  st_df.to_pickle('..\..\data\pkl\musicbox\musicbox_showtimes.pkl')
C:\Users\maxru\AppData\Local\Temp\ipykernel_25336\2038260266.py:2: SyntaxWarning: invalid escape sequence '\.'
  st_df.to_csv('..\..\data\csv\musicbox\musicbox_showtimes.csv', index=False)