# Never mind - unnecessary
### Instead, merge this data within MySQL db, with a view

In [1]:
import pandas as pd

In [13]:
sisk_df = pd.read_pickle('..\..\data\pkl\musicbox\single_scrapes\mc_scrape\musicbox_show_info_2025-07-16_mc_searchresults.pkl')
sisk_df.head(10)

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_22892\1512982550.py:1: SyntaxWarning: invalid escape sequence '\.'
  sisk_df = pd.read_pickle('..\..\data\pkl\musicbox\single_scrapes\mc_scrape\musicbox_show_info_2025-07-16_mc_searchresults.pkl')

,Title Searched,Title Result,Titles Fuzzy Sim,Titles Cosine Sim,Year Searched,Year Result,Director Searched,Director Result,Directors Fuzzy Sim,Directors Cosine Sim,Link
0,IN THE MOOD FOR LOVE,In the Mood for Love,1.00,1.000,2001,2001,Wong Kar Wai,Kar-Wai Wong,0.50,1.000,/movie/in-the-mood-for-love/
1,KILL THE JOCKEY,Kill the Jockey,1.00,1.000,2024,2025,Luis Ortega,Luis Ortega,1.00,1.000,/movie/kill-the-jockey/
2,CASTRATION MOVIE,"MoviePass, MovieCrash",0.43,0.000,2024,2024,Louise Weard,Muta'Ali Muhammad,0.34,0.000,/movie/moviepass-moviecrash/
3,CASTRATION MOVIE,The Super Mario Bros. Movie,0.51,0.316,2024,2023,Louise Weard,"Aaron Horvath, Michael Jelenic, Pierre Leduc, ...",0.20,0.000,/movie/the-super-mario-bros-movie/
4,CASTRATION MOVIE,Nirvanna the Band the Show the Movie,0.42,0.196,2024,2025,Louise Weard,Matt Johnson,0.17,0.000,/movie/nirvanna-the-band-the-show-the-movie/
5,CASTRATION MOVIE,Cheech and Chong's Last Movie,0.49,0.316,2024,2025,Louise Weard,David L. Bushell,0.29,0.000,/movie/cheech-and-chongs-last-movie/
6,CASTRATION MOVIE,The Day the Earth Blew Up: A Looney Tunes Movie,0.38,0.213,2024,2025,Louise Weard,Peter Browngardt,0.43,0.000,/movie/the-day-the-earth-blew-up-a-looney-tune...
7,CASTRATION MOVIE,NaN,NaN,NaN,2024,NaN,Louise Weard,NaN,NaN,NaN,NaN
8,STACEY AND MICHAEL'S SHOWCASE OF SHORTS X,NaN,NaN,NaN,2025,NaN,None,NaN,NaN,NaN,NaN
9,MY BEST FRIENDS WEDDING,My Best Friend's Wedding,0.98,0.750,1997,1997,Ron BassP.J. Hogan,P.J. Hogan,0.71,0.577,/movie/my-best-friends-wedding/

In [14]:
sisk_df['Year Result'] = pd.to_numeric(sisk_df['Year Result'], errors='coerce').astype("Int32")

In [16]:
sisk_df.head(10)
sisk_df.head(10)['Year Result']

0    2001
1    2025
2    2024
3    2023
4    2025
5    2025
6    2025
7    <NA>
8    <NA>
9    1997
Name: Year Result, dtype: Int32

In [12]:
sisk_df['Year Result'] = sisk_df['Year Result'].where(sisk_df['Year Result'].notna(), pd.NA)
sisk_df['Year Result'].astype('Int32')

TypeError: cannot safely cast non-equivalent object to int32

In [ ]:
sisk_df['Year Result'] = sisk_df[pd.to_numeric(sisk_df['Year Result'], errors='coerce').isna()][['Year Result']]

   Year Result
7          NaN
8          NaN
11         NaN
15         NaN
16         NaN
19         NaN
20         NaN
21         NaN
26         NaN
28         NaN
31         NaN
33         NaN
34         NaN
38         NaN
48         NaN
57         NaN
61         NaN
63         NaN
66         NaN
70         NaN
71         NaN

In [7]:
sisk_df['Year Result'].astype('Int32')

TypeError: cannot safely cast non-equivalent object to int32

In [2]:
sisk_df = pd.read_pickle('..\..\data\pkl\siskel\single_scrapes\siskel_show_info_2025-06-25.pkl')
sisk_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_30864\2314321803.py:1: SyntaxWarning: invalid escape sequence '\.'
  sisk_df = pd.read_pickle('..\..\data\pkl\siskel\single_scrapes\siskel_show_info_2025-06-25.pkl')

,Title,Year,Director,Runtime,Series,Tags,Country,Meta,Link,Show,Description,Theater,Scrape_Datetime
0,MATERIALISTS,2025,Celine Song,113,New Releases & Restorations,Now Playing,USA,In English | Format: Digital,https://www.siskelfilmcenter.org//materialists,MATERIALISTS,"Following her Academy Award nominated, critica...",Siskel,2025-06-25T21:23:19.857608+00:00
1,IMAGES,1972,Robert Altman,104,Robert Altman Centennial,,UK,In English and French with English subtitles |...,https://www.siskelfilmcenter.org//images,IMAGES,"In Altman’s psychological thriller, the mental...",Siskel,2025-06-25T21:23:19.857608+00:00
2,A PHOTOGRAPHIC MEMORY,2024,Rachel Elizabeth Seed,87,New Releases & Restorations,"Now Playing, Director In Attendance",USA,In English | Format: Digital,https://www.siskelfilmcenter.org//photographic...,A PHOTOGRAPHIC MEMORY,Rachel Elizabeth Seed was only 18 months old w...,Siskel,2025-06-25T21:23:19.857608+00:00
3,LIGHTNING,1952,Mikio Naruse,87,,35mm,Japan,In Japanese with English subtitles | Format: I...,https://www.siskelfilmcenter.org//lightning,Chicago Film Society Presents: LIGHTNING,You've never met a more cheerful urban ambassa...,Siskel,2025-06-25T21:23:19.857608+00:00
4,FEMALE TROUBLE,1974,John Waters,89,Summer Camp,35mm,USA,In English | Format: 35mm,https://www.siskelfilmcenter.org//female-trouble,FEMALE TROUBLE,This series would be incomplete without a film...,Siskel,2025-06-25T21:23:19.857608+00:00

In [3]:
mb_df = pd.read_pickle('..\..\data\pkl\musicbox\single_scrapes\musicbox_show_info_2025-06-25.pkl')
mb_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\maxru\AppData\Local\Temp\ipykernel_30864\661555547.py:1: SyntaxWarning: invalid escape sequence '\.'
  mb_df = pd.read_pickle('..\..\data\pkl\musicbox\single_scrapes\musicbox_show_info_2025-06-25.pkl')

,Title,Year,Runtime,Format,Director,Writer,Cast,Description,Link,Theater,Scrape_Datetime
0,PAVEMENTS,2025,128,DCP,Alex Ross Perry,Alex Ross Perry,"Joe Keery, Jason Schwartzman, Tim Heidecker",PAVEMENTS is a movie about Pavement the band—a...,https://musicboxtheatre.com/films-and-events/p...,Music Box,2025-06-25T21:23:52.470408+00:00
1,THE PHOENICIAN SCHEME,2025,101,DCP,Wes Anderson,"Wes Anderson, Roman Coppola","Benicio del Toro, Mia Threapleton, Michael Cera",The story of a family and a family business. B...,https://musicboxtheatre.com/films-and-events/t...,Music Box,2025-06-25T21:23:52.470408+00:00
2,EVIL PUDDLE,2025,90,DCP,Charles Roxburgh,Matt Farley,Matt Farley,"When evil, deadly water starts pooling around ...",https://musicboxtheatre.com/films-and-events/e...,Music Box,2025-06-25T21:23:52.470408+00:00
3,GOING DOWN,1983,96,DCP,Haydn Keenan,"Melissa Woods, Julie Barry, Moira MacLaine-Cross","Tracy Mann, Vera Plevnik, Julie Barry","Middle-class Karli (Tracy Mann, Hard Knocks), ...",https://musicboxtheatre.com/films-and-events/g...,Music Box,2025-06-25T21:23:52.470408+00:00
4,WET HOT AMERICAN SUMMER,2001,97,NaN,David Wain,Michael Showalter,"Janeane Garofalo, David Hyde Pierce, Michael S...","Set on the last day of camp, in the hot summer...",https://musicboxtheatre.com/films-and-events/w...,Music Box,2025-06-25T21:23:52.470408+00:00

In [4]:
[x for x in sisk_df.columns if x not in mb_df.columns]

['Series', 'Tags', 'Country', 'Meta', 'Show']

In [5]:
[x for x in mb_df.columns if x not in sisk_df.columns]

['Format', 'Writer', 'Cast']

In [6]:
[x for x in mb_df.columns if x in sisk_df.columns]

['Title',
 'Year',
 'Runtime',
 'Director',
 'Description',
 'Link',
 'Theater',
 'Scrape_Datetime']

In [5]:
merged_df = pd.concat([sisk_df, mb_df])
# merged_df = merged_df.sort_values(by=['Showtime', 'Theater']).reset_index(drop=True)
merged_df

,Title,Year,Director,Runtime,Series,Tags,Country,Meta,Link,Show,Description,Theater,Scrape_Datetime,Format,Writer,Cast
0,MATERIALISTS,2025,Celine Song,113,New Releases & Restorations,Now Playing,USA,In English | Format: Digital,https://www.siskelfilmcenter.org//materialists,MATERIALISTS,"Following her Academy Award nominated, critica...",Siskel,2025-06-25T21:23:19.857608+00:00,NaN,NaN,NaN
1,IMAGES,1972,Robert Altman,104,Robert Altman Centennial,,UK,In English and French with English subtitles |...,https://www.siskelfilmcenter.org//images,IMAGES,"In Altman’s psychological thriller, the mental...",Siskel,2025-06-25T21:23:19.857608+00:00,NaN,NaN,NaN
2,A PHOTOGRAPHIC MEMORY,2024,Rachel Elizabeth Seed,87,New Releases & Restorations,"Now Playing, Director In Attendance",USA,In English | Format: Digital,https://www.siskelfilmcenter.org//photographic...,A PHOTOGRAPHIC MEMORY,Rachel Elizabeth Seed was only 18 months old w...,Siskel,2025-06-25T21:23:19.857608+00:00,NaN,NaN,NaN
3,LIGHTNING,1952,Mikio Naruse,87,,35mm,Japan,In Japanese with English subtitles | Format: I...,https://www.siskelfilmcenter.org//lightning,Chicago Film Society Presents: LIGHTNING,You've never met a more cheerful urban ambassa...,Siskel,2025-06-25T21:23:19.857608+00:00,NaN,NaN,NaN
4,FEMALE TROUBLE,1974,John Waters,89,Summer Camp,35mm,USA,In English | Format: 35mm,https://www.siskelfilmcenter.org//female-trouble,FEMALE TROUBLE,This series would be incomplete without a film...,Siskel,2025-06-25T21:23:19.857608+00:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,JUICE,1984,Arthur J. Bressan Jr.,72,NaN,NaN,NaN,NaN,https://musicboxtheatre.com/films-and-events/j...,NaN,Jim Bennett (Michael Christopher) is a photogr...,Music Box,2025-06-25T21:23:52.470408+00:00,DCP,Arthur J. Bressan Jr.,"Michael Christopher, Butch La Cross, Eric Ryan"
67,FABULOUS FLEISCHER CARTOONS,None,Max Fleischer,80,NaN,NaN,NaN,NaN,https://musicboxtheatre.com/films-and-events/f...,NaN,Max Fleischer is one of the most renown pionee...,Music Box,2025-06-25T21:23:52.470408+00:00,DCP,NaN,NaN
68,A NIGHTMARE ON ELM STREET 3: DREAM WARRIORS,1987,Chuck Russell,96,NaN,NaN,NaN,NaN,https://musicboxtheatre.com/films-and-events/a...,NaN,"During a hallucinatory incident, young Kristen...",Music Box,2025-06-25T21:23:52.470408+00:00,35mm,"Wes Craven, Bruce Wagner, Frank Darabont","Heather Langenkamp, Robert Englund, Craig Wasson"
69,25 CATS FROM QATAR,2025,Mye Hoang,95,NaN,NaN,NaN,NaN,https://musicboxtheatre.com/films-and-events/2...,NaN,Qatar is one of the world’s wealthiest nations...,Music Box,2025-06-25T21:23:52.470408+00:00,DCP,NaN,NaN
70,JUMANJI,1995,Joe Johnston,104,NaN,NaN,NaN,NaN,https://musicboxtheatre.com/films-and-events/j...,NaN,"Robin Williams, Kirsten Dunst and Bonnie Hunt ...",Music Box,2025-06-25T21:23:52.470408+00:00,NaN,"Jonathan Hensleigh, Greg Taylor, Jim Strain","Robin Williams, Bonnie Hunt, David Alan Grier,..."

In [9]:
merged_df['Showtime'] = pd.to_datetime(merged_df['Showtime'], utc=True, errors='raise')
print(merged_df.dtypes)
merged_df.head()

Title                    object
Year                     object
Director                 object
Showtime    datetime64[ns, UTC]
Theater                  object
dtype: object

,Title,Year,Director,Showtime,Theater
0,DAVID LYNCH: THE ART LIFE,2016,"Jon Nguyen, Rick Barnes",2025-04-18 18:00:00+00:00,Music Box
1,THE BALLAD OF WALLIS ISLAND,2025,James Griffiths,2025-04-18 19:00:00+00:00,Music Box
2,SUNSET BOULEVARD,1950,Billy Wilder,2025-04-18 20:00:00+00:00,Music Box
3,SECRET MALL APARTMENT,2024,Jeremy Workman,2025-04-18 21:15:00+00:00,Music Box
4,MULHOLLAND DRIVE,2001,David Lynch,2025-04-18 22:45:00+00:00,Music Box